body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    border-bottom: 1px solid #AAA;
}

h2 {
    border-bottom: 1px solid #DDD;
}

.container {
    max-width: 800px;
    margin: auto;
}